<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.RoleMapper">
	<select id="findObjects" resultType="com.demo.common.vo.CheckBox">
        select id,name from sys_roles
    </select>
    <!-- 更新角色信息 -->
    <update id="updateObject" parameterType="com.demo.pojo.Role">
    	update sys_roles
        	<set>
	        	<if test="name!=null and name!=''">
	             name=#{name},
	            </if>
	            <if test="note!=null and note!=''">
	             note=#{note},
	            </if>
	            <if test="modifiedUser!=null and modifiedUser!=''">
	             modifiedUser=#{modifiedUser},
	            </if>
	       		modifiedTime=now()
            </set>
            where id=#{id}
	</update>
    <!-- 基于id查询角色自身信息 -->
    <select id="findObjectById" resultType="com.demo.pojo.Role">
         select * from sys_roles where id=#{id}
    </select>
    <!-- 插入角色自身信息
    	useGeneratedKeys="true" 表示要使用写到数据库表中的自增长主键
    	keyProperty="id" 将自增长的主键值，赋值给参数SysRole的id属性值 -->
    <insert id="insertObject" parameterType="com.demo.pojo.Role"
            useGeneratedKeys="true" keyProperty="id">
        insert into sys_roles 
        (id, name, note, createdTime, modifiedTime, createdUser, modifiedUser) 
    	values
    	(null, #{name}, #{note}, now(), now(), #{createdUser}, #{modifiedUser})
    </insert>
    <!-- 删除角色自身信息 -->
    <delete id="deleteObject">
    	delete from sys_roles where id=#{id}
    </delete>
    <select id="findPageObjects" resultType="com.demo.pojo.Role">
    	select * from sys_roles
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getRowCount" resultType="int">
    	select count(*) from sys_roles
        <include refid="queryWhereId"/>
    </select>
    <sql id="queryWhereId">
    	<where>
        	<if test="name!=null and name!=''">
            	name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>
</mapper>



